.card {
    width: 220px;
    padding: 15px 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.img {
    margin: 0 auto;
    width: 200px;
    height: 250px;
    background-size: cover;
    background-clip: content-box;
}
