.card {
    width: 160px;
    padding: 15px 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.img {
    margin: 0 auto;
    width: 150px;
    height: 187.5px;
    background-size: cover;
    background-clip: content-box;
}
